{% extends "index.html" %}
{% load static %}
{% block css %}
    <style>
    .table.table-hover thead th { position: sticky; top: 0; background: azure}
    </style>
{% endblock %}
{% block mainbody %}

    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th scope="col">Country</th>
          <th scope="col">Confirmed Cases</th>
          <th scope="col">Deaths</th>
          <th scope="col">Recovered</th>
          <th scope="col">Last Updated</th>
        </tr>
      </thead>
      <tbody>
        {% for each in object_list %}
        <tr>
            <td>
{#                <a href="{% url 'covid:list_country_state' country_id=each.id %}">{{ each.country }}</a>#}
                <a href="#">{{ each.country }}</a>
            </td>
            <td>{{ each.latest_confirmed_cases }}</td>
            <td>{{ each.latest_deaths }}</td>
            <td>{{ each.latest_recovered }}</td>
            <td>{{ each.last_updated }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{#    <div class="pagination">#}
{#    <span class="step-links">#}
{#        {% if page_obj.has_previous %}#}
{#            <a href="?page=1">&laquo; First</a>#}
{#            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>#}
{#        {% endif %}#}
{##}
{#        <span class="current">#}
{#            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
{#        </span>#}
{##}
{#        {% if page_obj.has_next %}#}
{#            <a href="?page={{ page_obj.next_page_number }}">Next</a>#}
{#            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>#}
{#        {% endif %}#}
{#    </span>#}
{#    </div>#}
{% endblock %}